@model Employees.Models.EmployeeVM.EmployeeAddVM

@{
    ViewData["Title"] = "Добавить сотрудника";
}

<div>
    <h4>Добавить нового сотрудника</h4>
</div>

@using (Html.BeginForm("Add", "Employee", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.LabelFor(m => m.Name, "Имя:")
        <br />
        @Html.EditorFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>
    <br />
    <div>
        @Html.LabelFor(m => m.Patronymic, "Отчество:")
        <br />
        @Html.EditorFor(m => m.Patronymic)
        @Html.ValidationMessageFor(m => m.Patronymic, "", new { @class = "text-danger" })
    </div>
    <br />
    <div>
        @Html.LabelFor(m => m.Surname, "Фамилия:")
        <br />
        @Html.EditorFor(m => m.Surname)
        @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
    </div>
    <br />
    <div>
        @Html.LabelFor(m => m.Gender, "Пол:")
        <br />
        @Html.DropDownListFor(m => m.Gender, (IEnumerable<SelectListItem>)ViewData["Genders"])
        @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
    </div>
    <br />
    <div>
        @Html.LabelFor(m => m.Position, "Должность:")
        <br />
        @Html.DropDownListFor(m => m.Position, (IEnumerable<SelectListItem>)ViewData["Positions"])
        @Html.ValidationMessageFor(m => m.Position, "", new { @class = "text-danger" })
    </div>
    <br />
    <div>
        @Html.LabelFor(m => m.Birthdate, "Дата рождения:")
        <br />
        @Html.EditorFor(m => m.Birthdate)
        @Html.ValidationMessageFor(m => m.Birthdate, "", new { @class = "text-danger" })
    </div>
    <br />
    <div>
        @Html.LabelFor(m => m.Phone, "Телефон:")
        <br />
        @Html.EditorFor(m => m.Phone)
        @*@Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @type = "tel", pattern = @"[\+]7\s([0-9]{3})\s[0-9]{3}-[0-9]{2}-[0-9]{2}", placeholder = "+7 (xxx) xxx-xx-xx" } })*@
        @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
    </div>
    <br />

    <br />
    <input type="submit" class="btn btn-success" value="Добавить" />
    <input type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Index")'" value="Отменить" />
}
